Address Comments from  Gunter Van de Velde


I agree with Ketan on the added text after the BCP14 textblob to indicate that
the keywords are used to add clarity and not necessary formal procedure.

one editorial suggestion:

111     3.  Terminology
112
113        The following terminology is defined for this document.
114
115        *  IPv6 node: a device that implements IPv6
116
117        *  IPv6 router: a node that forwards IPv6 packets not explicitly
118           addressed to itself.
119
120        *  IPv6 host: Any IPv6 node that is not a router.
121
122        *  ULA:Unique Local Address as defined in [RFC4193].
123
124        *  GUA:Global Unique Addresses as defined in [RFC4291].

GV> What about making the language used more consistent:

"
3. Terminology
The following terminology is used throughout this document:

* IPv6 node: A device that implements the IPv6 protocol [RFC8200].

* IPv6 router: An IPv6 node that forwards IPv6 packets not explicitly addressed
to itself.

* IPv6 host: An IPv6 node that is not a router.

* ULA: Unique Local Address, as defined in [RFC4193].

* GUA: Global Unicast Address, as defined in [RFC4291].
"