Comments from Ketan Talaulikar

Thanks for the work on this document by the author and WG. Please find below some comments for your consideration in the idnits output of v07 of the document.

77	   those unused prefixes to be distributed into a network.  Note that
78	   efforts such as Stub Networking Auto Configuration (SNAC) Working
79	   Group that depends on IPv6 prefixes being properly distributed in the
80	   LAN.

<nit> Could you rephrase the last sentence above for clarity? The two "that" 
make it hard to parse.

89	   running out of prefixes.  More information on heirarchical prefix

<nit> spell check - s/heirarchical/hierarchical


103	2.  Requirements Language

105	   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
106	   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and
107	   "OPTIONAL" in this document are to be interpreted as described in
108	   [BCP 14](https://datatracker.ietf.org/doc/bcp14/) [[RFC2119](https://datatracker.ietf.org/doc/rfc2119/)] [[RFC8174](https://datatracker.ietf.org/doc/rfc8174/)] when, and only when, they appear in all
109	   capitals, as shown here.

<major> I note that [RFC7084](https://datatracker.ietf.org/doc/rfc7084/) that is updated by this document has a qualifying
note after its [BCP14](https://datatracker.ietf.org/doc/bcp14/) boilerplate. Does that apply to this document as well?

fixed